In [1]:
import pandas as pd

In [3]:
# Load data
zillow_df = pd.read_csv("~/real_estate/data/v4/unsupervised/zillow_zipcode_data.csv")
cbp_df = pd.read_csv("~/real_estate/data/v9/cbp_zipcode_df.csv")
irs_df = pd.read_csv("~/real_estate/data/v4/unsupervised/irs_zipcode_data.csv")
fed_df = pd.read_csv("~/real_estate/data/v4/unsupervised/fed_dataframe.csv")
postal_code_df = pd.read_csv("~/real_estate/data/v9/zipcode.csv")
postal_code_list = set(postal_code_df["postal_code"].values)

# Merge
df = zillow_df.loc[zillow_df["postal_code"].isin(postal_code_list)]
df = pd.merge(df, cbp_df, on=["postal_code","year"], how="left")
df = df.dropna(subset=["zhvi_condo"])
df = pd.merge(df, irs_df, on=["postal_code","year"], how="left")
df = pd.merge(df, fed_df, on=["year","month"], how="left")
#df = df.drop(["state"], axis=1)
#df = pd.merge(df, state_df[["postal_code","state"]], on="postal_code", how="left")

# Filter
df = df.dropna(subset=["state"])
df = df.loc[df["year"] >= 2010]

# Remove columns with tons of nas
df = df.drop(["zhvi_1bed","zhvi_2bed","zhvi_3bed"], axis=1)

# Sort
df = df.sort_values(by=["postal_code","year","month"])

In [4]:
print(df.shape)
df.head()

(247170, 32)

,postal_code,median_sqft_value,percent_decreasing,percent_increasing,zri_sqft_value,zhvi_condo,zhvi_singlefam,month,year,business_count_cbp_lag,...,adult_count_lag,people_count_lag,mean_adjusted_income_lag,mean_real_estate_taxes_hh_lag,mean_mortgage_interest_hh_lag,mean_adjusted_income_with_dep_lag,90_day_treasury_bill_rate,mean_hourly_earnings_adj,mean_fixed_mortgage_rate,total_nonfarm_payroll
259247,1432,165.0,43.40,39.68,NaN,181200.0,270100.0,1,2010,237.0,...,4900.0,6017.0,40.296013,1.269017,3.908781,32.815433,0.06,22.42,5.0300,129799.0
261406,1432,166.0,40.40,42.83,NaN,181600.0,271600.0,2,2010,237.0,...,4900.0,6017.0,40.296013,1.269017,3.908781,32.815433,0.11,22.46,4.9900,129726.0
263565,1432,167.0,39.37,44.65,NaN,182400.0,272500.0,3,2010,237.0,...,4900.0,6017.0,40.296013,1.269017,3.908781,32.815433,0.15,22.46,4.9675,129919.0
265724,1432,169.0,38.90,44.08,NaN,185100.0,272000.0,4,2010,237.0,...,4900.0,6017.0,40.296013,1.269017,3.908781,32.815433,0.16,22.50,5.0980,130140.0
267883,1432,170.0,31.97,49.97,NaN,186200.0,271900.0,5,2010,237.0,...,4900.0,6017.0,40.296013,1.269017,3.908781,32.815433,0.16,22.53,4.8875,130662.0

In [5]:
# Export
df.to_csv("~/real_estate/data/v9/unsupervised_df.csv",index=False)